* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.box-slider {
    width: 700px;
    height: 500px;
    display:flex;
}

.box-slider .slider {
    flex-grow: 1;
}

.box-slider .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-slider .prev, .next {
    margin: auto;
}

.box-slider .prev {
    margin-right: 10px;
}

.box-slider .next {
    margin-left: 10px;
}

.box-slider .slider {
    position: relative;
}

.box-slider .slider .points {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%)
}


/* colore quando l'img è attiva */

.active {
    color: darkorange;

}
